<html><head><title>PHPMD</title></head><body>
<center><h1>PHPMD report</h1></center><center><h2>Problems found</h2></center>
<table align="center" cellspacing="0" cellpadding="3"><tr><th>#</th><th>File</th><th>Line</th><th>Problem</th></tr>
<tr bgcolor="lightgrey">
<td align="center">1</td>
<td>/var/www/html/src/Hydroponics/Application/Decoder/AbstractDtoDecoder.php</td>
<td align="center" width="5%">34</td>
<td><a href="http://phpmd.org/rules/codesize.html#cyclomaticcomplexity">The method handleData() has a Cyclomatic Complexity of 12. The configured cyclomatic complexity threshold is 10.</a></td>
</tr>
<tr>
<td align="center">2</td>
<td>/var/www/html/src/Hydroponics/Application/Dto/Tank/TankAttributesDto.php</td>
<td align="center" width="5%">7</td>
<td><a href="http://phpmd.org/rules/codesize.html#toomanyfields">The class TankAttributesDto has 18 fields. Consider redesigning TankAttributesDto to keep the number of fields under 15.</a></td>
</tr>
<tr bgcolor="lightgrey">
<td align="center">3</td>
<td>/var/www/html/src/Hydroponics/Domain/Repository/AbstractDoctrineRepository.php</td>
<td align="center" width="5%">123</td>
<td><a href="http://phpmd.org/rules/codesize.html#cyclomaticcomplexity">The method applyFilter() has a Cyclomatic Complexity of 10. The configured cyclomatic complexity threshold is 10.</a></td>
</tr>
<tr>
<td align="center">4</td>
<td>/var/www/html/src/Hydroponics/Domain/Repository/AbstractDoctrineRepository.php</td>
<td align="center" width="5%">123</td>
<td><a href="http://phpmd.org/rules/codesize.html#npathcomplexity">The method applyFilter() has an NPath complexity of 512. The configured NPath complexity threshold is 200.</a></td>
</tr>
<tr bgcolor="lightgrey">
<td align="center">5</td>
<td>/var/www/html/src/Hydroponics/Domain/Service/Greenhouse/SystemInstaller.php</td>
<td align="center" width="5%">16</td>
<td><a href="http://phpmd.org/rules/unusedcode.html#unusedformalparameter">Avoid unused parameters such as '$greenhouse'.</a></td>
</tr>
<tr>
<td align="center">6</td>
<td>/var/www/html/src/Hydroponics/Domain/ValueObject/WaterEc.php</td>
<td align="center" width="5%">12</td>
<td><a href="http://phpmd.org/rules/naming.html#shortvariable">Avoid variables with short names like $ec. Configured minimum length is 3.</a></td>
</tr>
<tr bgcolor="lightgrey">
<td align="center">7</td>
<td>/var/www/html/src/Hydroponics/Domain/ValueObject/WaterEc.php</td>
<td align="center" width="5%">24</td>
<td><a href="http://phpmd.org/rules/naming.html#shortvariable">Avoid variables with short names like $ec. Configured minimum length is 3.</a></td>
</tr>
<tr>
<td align="center">8</td>
<td>/var/www/html/src/Hydroponics/Domain/ValueObject/WaterPh.php</td>
<td align="center" width="5%">12</td>
<td><a href="http://phpmd.org/rules/naming.html#shortvariable">Avoid variables with short names like $ph. Configured minimum length is 3.</a></td>
</tr>
<tr bgcolor="lightgrey">
<td align="center">9</td>
<td>/var/www/html/src/Hydroponics/Domain/ValueObject/WaterPh.php</td>
<td align="center" width="5%">24</td>
<td><a href="http://phpmd.org/rules/naming.html#shortvariable">Avoid variables with short names like $ph. Configured minimum length is 3.</a></td>
</tr>
</table></body></html>