<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing
    http://symfony.com/schema/routing/routing-1.0.xsd">
    <!-- Index -->
    <route id="index" path="/">
        <default key="_controller">application.controller.index:indexAction</default>
    </route>
    
    <!-- Quality control -->
    <route id="quality_control_phpunit" path="quality-control/phpunit">
        <default key="_controller">application.controller.quality_control_controller:phpUnitAction</default>
    </route>
    <route id="quality_control_phpcs" path="quality-control/phpcs">
        <default key="_controller">application.controller.quality_control_controller:phpCsAction</default>
    </route>
    <route id="quality_control_phpmd" path="quality-control/phpmd">
        <default key="_controller">application.controller.quality_control_controller:phpMdAction</default>
    </route>

    <!-- API Greenhouse -->
    <route id="api_greenhouse_get_by_id" path="api/greenhouses/{id}" methods="GET">
        <default key="_controller">application.controller.api.greenhouse_controller:get</default>
    </route>
    <route id="api_greenhouse_get" path="api/greenhouses" methods="GET">
        <default key="_controller">application.controller.api.greenhouse_controller:getAll</default>
    </route>
    <route id="api_greenhouse_post" path="api/greenhouses" methods="POST">
        <default key="_controller">application.controller.api.greenhouse_controller:post</default>
    </route>
    <route id="api_greenhouse_patch" path="api/greenhouses/{id}" methods="PATCH">
        <default key="_controller">application.controller.api.greenhouse_controller:patch</default>
    </route>
    <route id="api_greenhouse_delete" path="api/greenhouses/{id}" methods="DELETE">
        <default key="_controller">application.controller.api.greenhouse_controller:delete</default>
    </route>

    <!-- API Tank -->
    <route id="api_tank_get_by_id" path="api/tanks/{id}" methods="GET">
        <default key="_controller">application.controller.api.tank_controller:get</default>
    </route>
    <route id="api_tank_get" path="api/tanks" methods="GET">
        <default key="_controller">application.controller.api.tank_controller:get</default>
    </route>
    <route id="api_tank_post" path="api/tanks" methods="POST">
        <default key="_controller">application.controller.api.tank_controller:post</default>
    </route>
    <route id="api_tank_patch" path="api/tanks/{id}" methods="PATCH">
        <default key="_controller">application.controller.api.tank_controller:patch</default>
    </route>
    <route id="api_tank_delete" path="api/tanks/{id}" methods="DELETE">
        <default key="_controller">application.controller.api.tank_controller:delete</default>
    </route>
    
    <!-- API System -->
    <route id="api_system_get_by_id" path="api/systems/{id}" methods="GET">
        <default key="_controller">application.controller.api.system_controller:get</default>
    </route>
    <route id="api_system_get" path="api/systems" methods="GET">
        <default key="_controller">application.controller.api.system_controller:get</default>
    </route>
    <route id="api_system_post" path="api/systems" methods="POST">
        <default key="_controller">application.controller.api.system_controller:post</default>
    </route>
    <route id="api_system_patch" path="api/systems/{id}" methods="PATCH">
        <default key="_controller">application.controller.api.system_controller:patch</default>
    </route>
    <route id="api_system_delete" path="api/systems/{id}" methods="DELETE">
        <default key="_controller">application.controller.api.system_controller:delete</default>
    </route>
</routes>