{% extends 'base/base.html.twig' %}
{% block title %}Hydroponics{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th colspan="2">Greenhouse</th>
                </tr>
                <tr>
                    <th>System</th>
                    <th>Details</th>
                </tr>
                <tr>
                    <td>
                        <a href="#">System NFT 1</a>
                    </td>
                    <td>
                        1 tanks, 5 Crops, 25 plants
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}